body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* scroll-behavior: smooth; */
    background-color: rgba(249, 145, 26, 0.2);
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, 0.9);
    z-index: 2;
    visibility: visible;
    animation: fadeout 4s ease-in;
}

#loadingText {
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: cursive;
    font-size: 3rem;
    z-index: 3;
    animation: colChange 4s ease-in;
}

#spinner {
    width: 40px;
    height: 40px;
    margin-top: 0;
    border: 2px solid yellowgreen;
    border-radius: 50%;
    background-color: rgba(231, 246, 65, 0.1);
    z-index: 3;
    animation: grow 4s ease-in;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes colChange {
    from {
        color: black;
        font-size: 3rem;

    }
    to {
        color: rgba(154, 205, 50, 0);
        font-size: 1rem;
    }
}

@keyframes grow {
    from {
        width: 40px;
        height: 40px;
    }
    to {
        width: 500px;
        height: 500px;
    }
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    background-color: rgb(66, 65, 65);
    color: white;
}

#siteLogo {
    position: fixed;
    left: 2vw;
    top: 3vh;
    width: 8vw;
    height: 15vh;
/*     overflow: hidden; */
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    background-color:rgba(154, 205, 50, 1) ;
    color: black;
    font-family: cursive;
    font-size: clamp(0.2rem, 3vw, 4rem);
    font-style: italic;
    font-weight: bolder;
    text-decoration: none;
    box-shadow: 2px 3px 10px 2px rgb(238, 249, 26);
    z-index: 1;
    transform: rotate(-10deg);
}

#menues {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-left: 15vw;
    margin-top: 0;
    margin-bottom: 1vh;
/*     font-size: clamp(0.2rem, 10vw, 1.5rem); */
}

.menu {
    margin-left: 2vw;
    margin-right: 3vw;
    background-color: rgb(66, 65, 65);
    color: white !important;
    text-align: center;
    text-justify: center;
    text-decoration: underline white;
    font-size: clamp(0.2rem, 5vw, 1rem);
}

.menu:hover{
    background-color: red;
}

#main-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    margin-top: 0;
    margin-left: 0;
}

.main-picture {
    width: 80vw;
    height: 140vh;
}

#greeting {
    width: 20%;
    height: 20%;
    overflow: hidden;
    margin-top: 45vh;
    color: black;
    font-family: cursive;
    font-size: clamp(0.5rem, 19vw, 2rem);
    font-style: italic;
    text-align: center;
}

#Link {
    position: fixed;
    right: 2vw;
    bottom: 0.5vw;
    width: 16%;
    height: 16%;
    align-content: center;
/*     overflow: hidden; */
    border: 0.3px solid white;
    border-radius: 50%;
    background-color: rgba(246, 25, 4, 0.7);
    font-family: cursive;
    font-size: clamp(0.2rem, 1.5vw, 2rem);
    text-align: center;
    text-decoration: none;
    z-index: 1;
    animation: bounce 5s ease-in-out infinite;
}

#highlightText {
    color: #FFD700;
    font-size: clamp(0.5rem, 2vw, 3rem);
    text-decoration: underline !important;
}

@keyframes bounce {
    0% {transform: translateY(0)} 
    50% {transform: translateY(-20px)} 
}

hr {
    width: 100vw;
    height: 10vh;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
}

#areaLineUP {
    width: 100vw;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.index {
    width: 80vw;
    height: 10vh;
    align-content: center;
    overflow: hidden;
    margin-top: 15vh;
    color: black;
    font-size: clamp(0.5rem, 10vw, 1.5rem);
    font-weight: bolder;
    text-align: left;
}

#gallery {
    width: 80vw;
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    overflow: hidden;
    margin-top: 0;
}

.item {
    width: 23vw;
    height: 46vh;
    box-shadow: 2px 3px 3px rgb(66, 65, 65, 0.6);
    will-change: transform;
}

.item:hover {
    filter: brightness(1.5);
    animation: rotate 1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    0% {transform: rotateY(0deg); opacity: 1;}
    25% {opacity: 0.6;}
    50% {opacity: 0.3;}
    75% {opacity: 0.1;}
    100% {transform: rotateY(360deg); opacity: 1;}
}

.home {
    width: 100vw;
    height: 3vh;
    align-content: center;
    overflow: hidden;
    margin-top: 2vh;
    color: rgb(66, 65, 65);
    font-size: clamp(0.5rem, 19vw, 1rem);
    text-align: center;
    text-decoration: underline;
}

#footer {
    width: 100vw;
    height: 3vw;
    align-content: center;
    overflow: hidden;
    margin-bottom: 0;
    background-color: rgb(66, 65, 65);
    color: white;
    font-size: clamp(0.5rem, 40vw, 1rem);
    text-align: center;
}
